_src/chapter-7/getting-ready/using-db-adapter-to-update-to-table/wsdl/CustomerManagement.wsdl

<wsdl:definitions name="CustomerManagement" targetNamespace="http://www.somecorp.org/CustomerManagement" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.somecorp.org/CustomerManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.somecorp.com/customer">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.somecorp.org/CustomerManagement">
			<xsd:import namespace="http://www.somecorp.com/customer" schemaLocation="../xsd/Customer.xsd"/>
			<xsd:element name="FindCustomer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="FindCustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Customer" type="cus:CustomerTyp"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StoreCustomer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Customer" type="cus:CustomerTyp"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StoreCustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:long"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FindCustomerRequest">
		<wsdl:part element="tns:FindCustomer" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="FindCustomerResponse">
		<wsdl:part element="tns:FindCustomerResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StoreCustomerRequest">
		<wsdl:part name="parameters" element="tns:StoreCustomer"/>
	</wsdl:message>
	<wsdl:message name="StoreCustomerResponse">
		<wsdl:part name="parameters" element="tns:StoreCustomerResponse"/>
	</wsdl:message>
	<wsdl:portType name="CustomerManagement">
		<wsdl:operation name="FindCustomer">
			<wsdl:input message="tns:FindCustomerRequest"/>
			<wsdl:output message="tns:FindCustomerResponse"/>
		</wsdl:operation>
		<wsdl:operation name="StoreCustomer">
			<wsdl:input message="tns:StoreCustomerRequest"/>
			<wsdl:output message="tns:StoreCustomerResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerManagementSOAP" type="tns:CustomerManagement">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="FindCustomer">
			<soap:operation soapAction="http://www.somecorp.org/CustomerManagement/FindCustomer"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="StoreCustomer">
			<soap:operation soapAction="http://www.somecorp.org/CustomerManagement/StoreCustomer"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerManagement">
		<wsdl:port binding="tns:CustomerManagementSOAP" name="CustomerManagementSOAP">
			<soap:address location="http://to-be-defined-by-user"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>