_src/chapter-10/solution/soap-over-jms/sending-soap-over-jms/xsd/Helloworld.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://wsrm.osbbook" 

xmlns:xs="http://www.w3.org/2001/XMLSchema" 
version="1.0" 
targetNamespace="http://wsrm.osbbook">

<xs:element name="sayHello" type="tns:sayHello" />

<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />

<xs:complexType name="sayHello">
<xs:sequence />
</xs:complexType>

<xs:complexType name="sayHelloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>