_src/chapter-7/solution/using-db-adapter-to-update-to-table/CustomerManagement.wsdl

<WL5G3N0:definitions name="CustomerManagement" targetNamespace="http://www.somecorp.org/CustomerManagement" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.somecorp.org/CustomerManagement" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://www.somecorp.org/CustomerManagement" xmlns:cus="http://www.somecorp.com/customer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.somecorp.org/CustomerManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.somecorp.com/customer" schemaLocation="XMLSchema_1204756545.xsd"/>
      <xsd:element name="FindCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Customer" type="cus:CustomerTyp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StoreCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Customer" type="cus:CustomerTyp"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StoreCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="FindCustomerRequest">
    <WL5G3N0:part element="WL5G3N1:FindCustomer" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FindCustomerResponse">
    <WL5G3N0:part element="WL5G3N1:FindCustomerResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="StoreCustomerRequest">
    <WL5G3N0:part element="WL5G3N1:StoreCustomer" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="StoreCustomerResponse">
    <WL5G3N0:part element="WL5G3N1:StoreCustomerResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="CustomerManagement">
    <WL5G3N0:operation name="FindCustomer">
      <WL5G3N0:input message="WL5G3N1:FindCustomerRequest"/>
      <WL5G3N0:output message="WL5G3N1:FindCustomerResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="StoreCustomer">
      <WL5G3N0:input message="WL5G3N1:StoreCustomerRequest"/>
      <WL5G3N0:output message="WL5G3N1:StoreCustomerResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="CustomerManagementSOAP" type="WL5G3N1:CustomerManagement">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="FindCustomer">
      <WL5G3N2:operation soapAction="http://www.somecorp.org/CustomerManagement/FindCustomer"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="StoreCustomer">
      <WL5G3N2:operation soapAction="http://www.somecorp.org/CustomerManagement/StoreCustomer"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="CustomerManagementSOAPQSService">
    <WL5G3N0:port binding="WL5G3N1:CustomerManagementSOAP" name="CustomerManagementSOAPQSPort">
      <WL5G3N2:address location="http://192.168.219.135:7001/using-db-adapter-to-update-to-table/proxy/CustomerManagement"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>