_src/chapter-6/solution/reading-a-file-within-a-message-flow/adapter/FileReadingService.wsdl

<wsdl:definitions
     name="FileReadingService"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/osbbook_ejb/AdapterSOAProject/FileReadingService"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/osbbook_ejb/AdapterSOAProject/FileReadingService"
     xmlns:imp1="http://packt.osb.book/services"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="SynchRead_plt" >
    <plt:role name="SynchRead_role" >
      <plt:portType name="tns:SynchRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/osbbook_ejb/AdapterSOAProject/FileReadingService"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://packt.osb.book/services" schemaLocation="xsd/Properties.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="body" element="imp1:properties"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
