_src/chapter-6/solution/reading-a-file-within-a-message-flow/adapter/xsd/Properties.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://packt.osb.book/services">
	<xs:element name="properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="property" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="value" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
